apiVersion: "kubeadm.k8s.io/v1beta3"
kind: ClusterConfiguration
etcd:
    local:
        serverCertSANs:
        - "{{ ansible_host }}"
        peerCertSANs:
        - "{{ ansible_host }}"
        extraArgs:
            initial-cluster: {% for host in groups['masters_etcd'] -%}
            {{ hostvars[host]['inventory_hostname'] }}=https://{{ hostvars[host]['ansible_host'] }}:2380{% if not loop.last %},{% endif %}
            {%- endfor %}

            initial-cluster-state: new
            name: "{{ inventory_hostname }}"
            listen-peer-urls: "https://{{ ansible_host }}:2380"
            listen-client-urls: "https://{{ ansible_host }}:2379"
            advertise-client-urls: "https://{{ ansible_host }}:2379"
            initial-advertise-peer-urls: "https://{{ ansible_host }}:2380"